{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block link %}
{% endblock %}

{% block content %}
<div class="cover">
	<div class="centered centered-signup">SIGN UP</div>
	<div class="centered centered-itsfree">It's free!</div>
	<div class="signbox">
			<form>
			<div class="form-group form-title">
				<label for="exampleInputEmail1">Username</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Username">
			</div>
			<div class="form-group form-title">
				<label for="exampleInputEmail1">Email address</label>
				<input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email">
			</div>
			<div class="form-group form-title">
				<label for="exampleInputPassword1">Password</label>
				<input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
			</div>
			<button type="submit" class="btn btn-primary btn-signup">SIGN UP</button>
			</form>
	</div>
</div>
{% endblock %}