{% load staticfiles %}
{% load static %}

<!DOCTYPE html>
<html class="html">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
	
	{% block link %} {% endblock %}
    <link rel="stylesheet" href="{% static 'style.css' %}">

    <title>MuzakkiHA</title>
</head>

<body>
	<header>
	<nav class="navbar navbar-light navbar-expand-lg pt-1">

		<a class="navbar-brand mb-1 ml-3" href="/">
			<img src="{% static 'logo.png' %}" width="270" height="45" alt="">
        </a>

        <button class="mb-2 navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

		<div class="collapse navbar-collapse" id="navbarSupportedContent">
	    	<ul class="nav navbar-nav items">
				<li class="nav-item">
					<a class="nav-link mb-1" href="/">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-1" href="#">PROFILE</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-1" href="#">GALLERY</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-1" href="#">WORK</a>
				</li>
				<li class="nav-item">
					<a class="nav-link mb-1 signup" href="/signup">SIGN UP</a>
				</li>
            </ul>
            
		</div>
	</nav>
	</header>

	<div class="body">
		{% block content %} {% endblock %}
    </div>

	<footer>
	<div class="footer">
		<div class="content-holder icons">
			<a class="contact" href="#"><i class="fa fa-facebook"></i></a>
			<a class="contact" href="#"><i class="fa fa-instagram"></i></a>
			<a class="contact" href="#"><i class="fa fa-linkedin"></i></a>
		</div>
		<div class="content-holder">
			<h5>© MUZAKKI HASSAN AZMI</h5>
	</div>
	</footer>

</body>
</html>