html {
}

body {
	background-color: rgba(0, 0, 0, 0) !important;
    font-family: "Cardo";
}

.navbar {
    font-family: "Minion Pro" !important;
	margin-bottom: -12px;
}

.nav-item {
	margin-left: 10px;
    margin-right: 2px;
}

.navbar-collapse {
    margin-left: auto;
}

.items {
	margin-top: 1px;
	text-align: center;
	margin-left: auto;
}

.nav-link {
	font-size: 24px !important;
	color: #a2a1a1 !important;
	margin-bottom: 1px;
	transition: 0.2s ease-in-out;
}

.nav-link:not(.active):not(.signup):hover {
	color: #03A8DB !important;
}

.cover {
    background-image: url("cover.png");
    height: 850px; 
    width: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
	margin: 0 auto;
    position: relative;
    text-align: center;
}

.content-holder {
	text-align: center;
}


.teal {
	color: #03A8DB;
	font-size: 26px !important;
}

.footer{
	height:100px;
	font-family: "Minion Pro" !important;
	color: #a2a1a1 !important;
}
.active:not(.signup) {
	color: black !important;
}


.active.signup {
	background-color: black !important;
}

.icons{
	margin-top: 36px;
	margin-bottom: 18px;
}

.contact:hover {
	color: #03A8DB;
}

.contact {
	color: #808080;
	margin-right: 20px;
	margin-left: 20px;
	transition: 0.2s ease-in-out;
}

.centered {
    font-family: "Cardo";
    color: white;
    position: absolute;
    top: 42%;
    left: 50%;
    font-size: 140px;
    transform: translate(-50%, -50%);
}
  
.centered-small {
    color: white;
    top: 55%;
    font-size: 50px;
    transform: translate(-50%, -50%);
  }

.signup {
    height: 48px !important;
    background-color: #808080;
    color: white !important;
    margin-left: 10px;
    padding-left: 12px !important;
    padding-right: 12px !important;
}

.signup:hover {
    background-color: #03A8DB;
}

.signbox {
    position: absolute;
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 10px;
    padding-bottom: 30px;
    width: 500px; 
    background-color: white;
}

.form-title {
    color: black;
    text-align: left;
}

.form-group {
    margin: 20px !important;
}

label {
    text-align: left;
}

.btn-signup {
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    border-radius: 0px !important;
    padding: 9px !important;
    padding-left: 15px !important;
    padding-right: 15px !important;
    font-size: 20px !important;
    background-color: #03A8DB !important;
	border: 0px solid #03A8DB !important;
}

.btn-signup:hover {
    background-color: black !important;
}

.centered-signup{
    top: 17% !important;
    font-size: 100px;
}
.centered-itsfree{
    top: 27% !important;
    font-size: 40px;
}