{% extends "base.html" %}
{% load staticfiles %}
{% load static %}

{% block link %}
{% endblock %}

{% block content %}
<div class="cover">
	<div class="centered">WELCOME</div>
	<div class="centered centered-small">to my web.</div>
</div>
{% endblock %}